<div class="navbar">
   
  <div class="nav justify-content-end">
    {{#if username}}
    <a href="/logout" style="margin: 5px;">Выйти</a>
    <a href="/search" style="margin: 5px;">Мои продукты</a>
    
    {{else}}
    <a href="/login" style="margin: 5px;">Войти</a>
    <a href="/register" style="margin: 5px;">Регистрация</a>
    {{/if}}
  </div>
</div>



