
<form id="registerForm" action="/register" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label" >Username</label>
    <input name="username" required type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail2" class="form-label">Email</label>
    <input name="email" required type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name="password" required type="password" class="form-control" id="firstPassword">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword2" class="form-label">Confirm password</label>
    <input name="confirmPassword" required type="password" class="form-control" id="confirmPassword">

  <button type="submit" class="btn btn-secondary" style="margin-top: 10px;">Submit</button>
</form>
